@import "../fonts/inter";

:root {
  --white: #fff;
  --black: #000;
  --blue-600: #06f;
  --blue-700: #3369f3;
  --blue-900: #122331;
  --blue-1000: #102129;
  --red-700: #ff2f2f;
  --gray-200: #efefef;
  --gray-300: #eaeaea;
  --gray-700: #999;
  --gray-900: #525252;
  --xs-3: 8px;
  --xs-2: 9px;
  --xs: 11px;
  --sm: 12px;
  --base: 13px;
  --tiny: 15px;
  --md: 16px;
  --lg: 20px;
  --xl: 40px;
  --leading-xs-3: 10px;
  --leading-xs-2: 11px;
  --leading-xs: 13px;
  --leading-sm: 14px;
  --leading-base: 15px;
  --leading-tiny: 17px;
  --leading-md: 20px;
  --leading-lg: 24px;
  --leading-xl: 46px;
}

.text-3xs {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--xs-2);
  line-height: var(--leading-xs-3);
}

.text-2xs {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--xs-2);
  line-height: var(--leading-xs-2);
}

.text-xs {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--xs);
  line-height: var(--leading-xs);
}

.text-sm {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--sm);
  line-height: var(--leading-sm);
}

.text-base {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--base);
  line-height: var(--leading-base);
}

.text-tiny {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--tiny);
  line-height: var(--leading-tiny);
}

.text-md {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--md);
  line-height: var(--leading-md);
}

.text-lg {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--lg);
  line-height: var(--leading-lg);
}

.text-xl {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: var(--xl);
  line-height: var(--leading-xl);
}

.error-text {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--xs-2);
  line-height: var(--leading-8);
  color: var(--red-700);
}

.link {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--sm);
  line-height: var(--leading-11);
  text-decoration: none;
  color: var(--blue-700);
}

.link:hover {
  color: var(--gray-200);
}
